<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "pp.jonifed.edu.mit.scratch"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>[Beste App]</name>

    <description>
        Die Beste App überhaupt
    </description>

    <author href="http://scratch.mit.edu/users/JoniFed" email="jonifed0709@gmail.com">
        JoniFed
    </author>

</widget>
